// Define your variables
$font-family: "Roboto", sans-serif;
$primary-color: #47cfac;
$secondary-color: #35a892;
$background-color: #e6e9ed;
$text-color: black;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

%button-styles {
  display: inline-block;
  text-align: center;
  padding: 1rem 2rem;
  color: #ffffff;
  text-decoration: none;
  border: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
  width: 100%;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-family: $font-family;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

header {
  .nav-social-links {
    background-color: $primary-color;
    display: grid;
    justify-content: center;
    padding: 2rem;
    .social-links {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      gap: 20px;
      li {
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
  .nav-down {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
      width: 15rem;
      a {
        img {
          width: 100%;
        }
      }
    }
    nav {
      margin-right: 2rem;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        a {
          color: $text-color;
        }
      }
    }
  }
}

.hero {
  background-image: url("../assets/img/Cover.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  div {
    height: 100%;
    display: grid;
    align-content: center;
    justify-items: center;
    h1 {
      color: white;
      text-align: center;
      font-size: 4rem;
      letter-spacing: 0.5rem;
    }
    button {
      width: 10rem;
      height: 5rem;
      background-color: $primary-color;
      a {
        color: $text-color;
        text-decoration: none;
        font-size: 1.8rem;
        font-weight: bolder;
      }
    }
  }
}

.main-container {
  background-color: $background-color;
  .news-container {
    padding-bottom: 2rem;
    padding-top: 0.01rem;
    width: 80%;
    margin: 0 auto;
    .media {
      display: grid;
      grid-template-columns: 1fr;
      .img {
        img {
          width: 100%;
        }
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      a {
        @extend %button-styles; // Hereda las propiedades del selector %button-styles
        background-color: $primary-color;
      }

      a:hover {
        background-color: $secondary-color; /* Cambia el color de fondo al pasar el cursor sobre el botón */
      }
    }
  }
}

.last-blogs-conteiner {
  margin: 0 auto;
  width: 80%;
  .articles-container {
    display: grid;
    grid-template-columns: 1fr;
    article {
      margin-bottom: 4rem;
      img {
        width: 100%;
      }
      a {
        @extend %button-styles; // Hereda las propiedades del selector %button-styles
        background-color: $primary-color;
      }

      a:hover {
        background-color: $secondary-color; /* Cambia el color de fondo al pasar el cursor sobre el botón */
      }
    }
  }
}

.main-container-blog {
  width: 80%;
  margin: 0 auto;
  img {
    width: 100%;
  }
  p {
    letter-spacing: 0.1rem;
    line-height: 1.5;
  }
}

.contact-container {
  background-color: $background-color;
  .grid-contact {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    div {
      div {
        img {
          width: 100%;
          margin-bottom: 2rem;
        }
      }
      .info-contact {
        a {
          display: inline-block; /* Cambia el enlace a un bloque en línea */
          text-align: center; /* Alinea el texto al centro */
          padding: 1rem 2rem; /* Agrega más espacio en los lados para que parezca un botón más grande */
          color: $text-color; /* Cambia el color del texto a blanco para que sea más visible en el fondo */
          text-decoration: none;
          border-bottom: 0.1rem solid black; /* Elimina el borde */
          width: 100%;
        }
        p {
          letter-spacing: 0.1rem;
          line-height: 1.5;
        }
      }
    }
  }
}

.perfil-grid-container {
  padding-top: 5rem;
  margin-bottom: 5rem;
  background-color: $background-color;
  .grid-container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    .img {
      img {
        width: 100%;
      }
    }
    .info-profile {
      p {
        letter-spacing: 0.1rem;
        line-height: 1.5;
      }
    }
  }
}

.projects-grid-container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 4rem;
  h2 {
    text-align: center;
  }
  .articles-container {
    display: grid;
    justify-items: center;
    .article {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      transition: transform 0.2s;
      margin: 10px;
      width: 300px;
      h3 {
        background-color: $primary-color;
        color: #fff;
        margin: 0;
        padding: 15px;
        text-align: center;
      }
      p {
        padding: 15px;
        margin: 0;
        color: #333;
        text-align: justify;
      }
    }
    .article:hover {
      transform: translateY(-5px);
    }
  }
}

footer {
  border-top: 4rem solid $primary-color;
  background-color: #22272d;
  padding: 4rem;
  p {
    margin: 0;
    color: white;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  header {
    .nav-social-links {
      justify-content: end;
    }
  }
  .main-container {
    .news-container {
      .media {
        grid-template-columns: 2fr 1fr;
        gap: 5rem;
        .info {
          a {
            align-self: start;
          }
        }
      }
    }
  }

  .last-blogs-conteiner {
    .articles-container {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
      article {
        a {
          width: auto;
        }
      }
    }
  }

  .contact-container {
    .grid-contact {
      padding-top: 5rem;
      grid-template-columns: 1fr 1fr;
      gap: 20rem;
      padding-bottom: 3rem;
      .flex-container {
        display: flex;
        gap: 1.5rem;
        .info-contact {
          a {
            text-decoration: none;
            color: $secondary-color;
            padding: 0.5rem 0;
            border-bottom: 2px solid $secondary-color;
            transition: border-bottom 0.3s;
            width: auto;
          }

          a:hover {
            border-bottom: 2px solid #fff; /* Cambia el color del borde inferior al pasar el ratón */
          }
        }
      }
    }
  }

  .perfil-grid-container {
    padding-bottom: 5rem;
    .grid-container {
      grid-template-columns: 4fr 8fr;
      gap: 3rem;
    }
  }

  .articles-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .last-blogs-conteiner {
    .articles-container {
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
  }
  .contact-container {
    .grid-contact {
      padding-top: 5rem;
      grid-template-columns: 1fr 1fr;
      gap: 20rem;
    }
  }
}
