/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  width: 100vw;
  height: 100vh;
}

header {
  .nav-social-links {
    background-color: #47cfac;
    display: grid;
    justify-content: center;
    padding: 2rem;
    .social-links {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      gap: 20px;
      li {
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
  .hero {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
      width: 15rem;
      a {
        img {
          width: 100%;
        }
      }
    }
    nav {
      margin-right: 2rem;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        a{
          color: black;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  header {
    .nav-social-links {
      justify-content: end;
    }
  }
}
